<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="MvcWebAPI.Views.Shared.Site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= Html.Encode(ViewData["Title"]) %></title>
    <link href="/MvcWebAPI/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Web API test</h1>
            </div>
              
             <div id="logindisplay">
                    <%
                        if (Request.IsAuthenticated) {
                    %>
                            Welcome <b><%= Html.Encode(Page.User.Identity.Name) %></b>!
                            [ <%=Html.ActionLink("Logout", "Logout", "Account") %> ]
                    <%
                        }
                        else {
                    %> 
                            [ <%=Html.ActionLink("Login", "Login", "Account") %> ]
                    <%
                        }
                    %>
            </div> 
            
            <div id="menucontainer">
            
                <ul id="menu">              
                    <li><%= Html.ActionLink("Home", "Index", "Home")%></li>
                    <li><%= Html.ActionLink("About Us", "About", "Home")%></li>
                </ul>
            
            </div>
        </div>

        <div id="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />

            <div id="footer">
                My Sample MVC Application &copy; Copyright 2008
            </div>
        </div>
    </div>
</body>
</html>
